<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %c{1} - %msg%n"/>
        </Console>

        <RollingFile name="XMLRollingFileAppender"
                     fileName="target/logfile.xml"
                     filePattern="target/logfile-%d{yyyy-MM-dd}-%i.xml.gz">
            <XMLLayout/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>

        <Logger name="com.apa.back"
                level="INFO"
                additivity="true">
            <AppenderRef ref="XMLRollingFileAppender"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>

    </Loggers>

</Configuration>
